/* ==========================================================================
   #BUTTONS
   ========================================================================== */
.btn {
  &-link {
    @extend .isotope-filter;

    &.btn {
      margin: 0;
      margin-bottom: $global-spacing * 2;
      padding: $global-spacing $global-spacing * 2;
      border-radius: 4px;
      text-decoration: none;

      &:hover {
        background-color: $color-red;
        color: $color-white;
      }
    }
  }
}
