/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
  &-main {
    height: $header-height;
    background-color: $color-white;
    &_logo {
      position: absolute;
      left: $utility-spacing * 2;
      top: 0;
      border: $utility-spacing / 2 solid $color-white;
      border-radius: 50%;
    }
  }
}
