/* ==========================================================================
   #MAIN NAV
   ========================================================================== */

.main-nav {
  margin-top: 45px;
  padding-left: 150px;

  a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    &.active {
      background-color: $color-red
    }
  }
}

.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
  background-color: $color-red
}
