.nav {
  display: block;

  @include bp-large {
    display: flex;
    justify-content: flex-end;
  }

  &-link {
    color: $color-dark-grey;
    &:hover {
      color: $color-medium-grey;
    }
  }

  &-item {
    & + & {
      @include bp-large {
        margin-left: 1em;
      }
    }
  }
}
