/* ==========================================================================
   #POST
   Includes styles for default WP images classes
   ========================================================================== */

.post {
  &s {
    & + & {
      @media (max-width: $bp-medium - 1) {
        margin-top: 2em;
      }
    }
  }
  &-header {
    text-transform: uppercase;
    &-link {
      &, &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  &-preview {
    margin-bottom: 0;
    margin-top: 1em;
    color: $color-light-grey;
  }
  &-item {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $color-very-light-grey;
    &--row {
      @media (min-width: $bp-medium) {
        min-height: 141px;
      }
      @media (min-width: $bp-large) {
        min-height: 121px;
      }
      @media (min-width: $bp-xlarge) {
        min-height: 101px;
      }
    }
  }
}

.alignnone {
  margin: 1em 1em 1em 0;
}

.aligncenter {
  margin: 1em auto;
}

.alignright {
  float: right;
  margin: 1em 0 1em 1em;
}

.alignleft {
  float: left;
  margin: 1em 1em 1em 0;
}

.wp-caption {
  text-align: center;
}

.wp-caption-text {
  font-style: italic;
  margin-top: 0.5em;
}
