<header class="header-main clearfix fixed-top">
  <div class="container">
    {% include 'components/main-nav.twig' %}
    <a href="/" rel="home" class="header-main_logo">
      <img src="{{assetPath('images/logo-viva-cuba.png')}}" alt="Logo Viva Cuba Dance Studio" width="130" height="130">
    </a>
  </div>
</header>

<div class="container">
  <div class="owl-carousel owl-theme">
    {% for slide in slider %}
      <div class="item">
        <a href="{{ slide.link }}">
          <img src="{{ slide.image }}" class="cover-image">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
