/* ==========================================================================
   #TABLES
   ========================================================================== */

/**
 * 1. Ensure tables fill up as much space as possible.
 */

table {
  width: 100%; /* [1] */

  span {
    font-family: inherit !important;
  }
}

[align="center"] {
  max-width: 100%;
  overflow-x: auto;
}

table,
tr {
  border: none;
}

td {
  border: 4px solid #ddd;
}
