///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&subset=latin-ext');

$global-radius: 3px !default;
$global-spacing: 1em;
$global-transition: all 200ms ease-in-out !default;

/* Fonts
   ========================================================================== */

$font-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif;

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/icomoon/fonts/icomoon.eot?lcs9v1');
  src:  url('../assets/icomoon/fonts/icomoon.eot?lcs9v1#iefix') format('embedded-opentype'),
    url('../assets/icomoon/fonts/icomoon.ttf?lcs9v1') format('truetype'),
    url('../assets/icomoon/fonts/icomoon.woff?lcs9v1') format('woff'),
    url('../assets/icomoon/fonts/icomoon.svg?lcs9v1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
/* Breakpoints
   ========================================================================== */

$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1200px;
$bp-full: 1600px;

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-very-light-grey: #ccc;
$color-light-grey: #999;
$color-medium-grey: #666;
$color-dark-grey: #333;
$color-xdark-grey: #111;
$color-red: #ed1c24;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-medium-grey;
$color-hover: $color-light-grey;

// Borders
$color-border: $color-very-light-grey;

// Fills
$color-fill: $color-very-light-grey;

// sizing
$header-height: 130px;
