{% extends "layouts/base.twig" %}

{% block content %}
<div class="row u-margin-top--2">
  <section class="col-sm-12 posts">
    {% for post in posts %}
      {% include ['components/tease.twig'] %}
    {% endfor %}
    {% include ['components/pagination.twig'] %}
  </section>
</div>
{% endblock %}
