{% extends "layouts/base.twig" %}

{% block content %}
  <article id="post-{{post.ID}}">
    <a href="/zajecia/opis-zajec/" class="btn btn-link">&lt;&nbsp; Wstecz</a>
    <section>
      <h1>{{post.title}}</h1>
      {{post.content}}
    </section>
  </article>
{% endblock %}
